body{
    margin: 0px;
    background-color: 	#E0FFFF;
}
ul {				/*导航栏ul*/
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow:visible;
	width:1400px;
	position:relative; 
	z-index:9999;
	
}

ul li{				/*一级菜单li*/
	float: left;
	background-color: dodgerblue;
	width: 10%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

ul .level1>a{		/*一级菜单文字a*/
	display: block;
	width:auto;
	height: 60px;
	color: white;
	font-weight: bold;
	font-size: medium;
	background-color: dodgerblue;
	text-decoration:none;
	
}

ul li ul li{		/*二级菜单li*/
	float: none;
	width: auto;
	height: 40px;
	line-height: 40px;
}

ul li ul{			/*二级菜单ul*/
	display: none;
	width:auto;
}

ul li.listshow ul{	/*listshow状态下的二级菜单ul*/
	display: block;
}

ul li.listshow>a{	/*listshow状态下的一级菜单文字*/
	background-color:#0070ff;
}

ul li ul .level2 a{  /*二级菜单文字*/	
	width: auto;
	font-weight: 400;
	font-size:small;
	height: 40px;
	color: white;
}
ul li ul li:hover /*鼠标移动至二级菜单文字*/	
{ 
	background-color:deepskyblue;
}

#canvas {						/*画布*/	
	border: 2px black solid;
	width:1200px;
	height:750px;
	position:relative; 
	z-index:0;
	margin-top: 50px;
	margin-left: 0;
	background-color: white;
}
#cb{
	margin:0 auto;
	width:1200px;
}
#firstLi{
	width: 5%;
}
#head{							/*左上角名称*/
	font-weight:800;
	font-size:larger;
	color: white;
	width: 15%;
}
#savaName{
	border: 0px;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 80%;
}
